.board {
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-size: 2em;
}

.board-label {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 0.25em;
}

.board-container {
    position: relative;
}

.board-cells {
    display: grid;
    width: 50vw;
    height: 50vh;
}

.board-overlay {
    position: absolute;
    width: 100%;

    background: color-mix(in srgb, lightgray, transparent 75%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.board-overlay:empty {
    display: none;
}